<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<!-- RPC Service Servlet configuration -->
	<servlet>
		<description>RPC service servlet</description>
		<servlet-name>rpc-service-servlet</servlet-name>
		<servlet-class>org.tbiq.gwt.tools.rpcservice.server.RpcServiceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>rpc-service-servlet</servlet-name>
		<url-pattern>/contacts/rpc-service</url-pattern>
	</servlet-mapping>

	<!-- RPC Request handlers registry initialization listener -->
	<listener>
		<listener-class>com.google.gwt.sample.contacts.server.rpc.RpcRequestHandlerRegistryInitializationListener</listener-class>
	</listener>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>Contacts.html</welcome-file>
	</welcome-file-list>

</web-app>
